#sem comentarios
#Mon Mar 10 12:21:56 WET 2025
fontName=Courier New
backColorG=255
fontBold=false
backColorB=255
sintax=true
fontItalic=false
file3=/Users/joaogoncalves/Documents/Interesse-Permanente/Formacao/FLAG/FLAG-FULLSTACK-NOV-22/_aulas/1- Intro-programacao/1-decisao/decisao-1.alg
file2=fluxogramas.tmp
file1=Sem Nome.alg
backColorR=255
fontSize=20
